.nav {
    grid-area: n;
    background-color: white;
    padding: 20px;
}
.item {
    color: white;
    text-decoration: none;
    color: forestgreen;
    font-size: 15px;
    font-weight: bold;
}

a.active{
    color: gold;
}