.nav {
    grid-area: n;
    background-color: white;
    padding: 50px 20px 0 70px;
}

.item a {
    color: white;
    text-decoration: none;
    color: forestgreen;
    font-family: Verdana, sans-serif;
    font-size: 16px;
    font-weight: bolder;
    line-height: 1.5;
}

.item a.active {
    color: gold;
}